.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
  
  .user {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    color: #ff0000;
    cursor: pointer;
  }
  
  .is-approved {
    /*text-decoration: line-through;*/
    color: #000000;
  }