<div class="form-wraper">
    <div class="form-container card">
        <div class="form-body">
            <form [formGroup]="resetPasswordService.form" (ngSubmit)="onSubmit()" class="form-flex-container">
                <mat-form-field hideRequiredMarker="true">
                    <input formControlName="password" placeholder="Nueva contraseña" type="password" matInput required>
                </mat-form-field>
                <mat-form-field hideRequiredMarker="true">
                    <input formControlName="rePassword" placeholder="Repetir contraseña" type="password" matInput required>
                </mat-form-field>
                <mat-error *ngIf="false">contraseña incorrecta</mat-error>

                <button class="btn" mat-raised-button color="primary" type="submit" >
                    <mat-icon>input</mat-icon> Cambiar Contraseña
                </button>

            </form>
        </div>
    </div>
</div>