.header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
  }

nav {
  background-color: #40bef7;
  /*color1: #40bef7;*/
  /*color2: #717ed3*/
}
